* {
    font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif
}

.passwordContainer {
    display: block;
    margin: 30px auto auto;
    width: 30%
}

.passwordContainer img {
    display: block;
    height: 100px;
    margin: auto;
    width: 100px
}

.passwordContainer h3 {
    margin-top: 30px
}

.passwordContainer hr {
    border: 1px solid #d3d3d3
}

.passwordContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px
}

.passwordContainer button {
    background-color: #1778f2;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px
}

.passwordContainer input {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    padding: 14px
}

.passwordContainer p {
    color: #989797
}

* {
    margin: 0;
    padding: 0
}
